<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.AirportCodeRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.AirportCode">
        <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
        <result column="arr_code" jdbcType="VARCHAR" property="arrCode" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="describle" jdbcType="VARCHAR" property="desc" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="arr_name" jdbcType="VARCHAR" property="arrName" />
    </resultMap>

    <select id="findAirportCode"  parameterType="com.fly.sky.domain.AirportCode" resultType="com.fly.sky.domain.AirportCode">
        select dept_code AS  deptCode ,arr_code AS arrCode,
        dept_name AS  deptName ,arr_name AS arrName,
        status,create_time AS createTime from airport_code where 1=1

        <if test="status != null  and status != ''  ">
            AND status = #{status,jdbcType=VARCHAR}
        </if>

        <if test="deptCode != null  and deptCode != '' ">
            AND dept_code = #{deptCode,jdbcType=VARCHAR}
        </if>

        <if test="arrCode != null  and arrCode != '' ">
            AND arr_code  = #{arrCode,jdbcType=VARCHAR}
        </if>

        order by ID ASC;
    </select>



   <insert id="insertAirportCode" parameterType="com.fly.sky.domain.AirportCode">
        insert into airport_code (dept_code, arr_code,status,create_time, dept_name ,arr_name )
        values (#{deptCode,jdbcType=VARCHAR}, #{arrCode,jdbcType=VARCHAR},
              0,sysdate(), #{deptName,jdbcType=VARCHAR}, #{arrName,jdbcType=VARCHAR})
    </insert>

    <update id="updateAirportCode"  parameterType="com.fly.sky.domain.AirportCode">
    update airport_code set
    status=#{status,jdbcType=VARCHAR},
    create_time=sysdate(),
    describle= #{desc,jdbcType=VARCHAR}
    where
    dept_code= #{deptCode} and
    arr_code= #{arrCode}
  </update>

    <select id="distinctdeptCode" resultType="com.fly.sky.domain.AirportCode">
      select distinct dept_code as deptCode ,dept_name as deptName
      from airport_code
     </select>
</mapper>
