<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.AirportCodeRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.AirportCode">
        <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
        <result column="arr_code" jdbcType="VARCHAR" property="arrCode" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="findAirportCode" resultType="com.fly.sky.domain.AirportCode">
        select dept_code AS  deptCode ,arr_code AS arrCode,
        status,create_time AS createTime from airport_code where status=0
    </select>



   <insert id="insertAirportCode" parameterType="com.fly.sky.domain.AirportCode">
        insert into airport_code (dept_code, arr_code,status,create_time)
        values (#{deptCode,jdbcType=VARCHAR}, #{arrCode,jdbcType=VARCHAR},
              0,sysdate())
    </insert>

    <update id="updateAirportCode"  parameterType="com.fly.sky.domain.AirportCode">
    update airport_code set
    status=1,
    create_time=sysdate()
    where
    dept_code= #{deptCode},
    arr_code= #{arrCode}
  </update>

</mapper>
