<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.AirwayRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.Airway">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="airway_name_start" jdbcType="VARCHAR" property="airwayNameStart" />
        <result column="airway_name_end" jdbcType="VARCHAR" property="airwayNameEnd" />
        <result column="airway_description" jdbcType="VARCHAR" property="airwayDescription" />
        <result column="airway_rate" jdbcType="INTEGER" property="airwayRate" />
        <result column="flight_num" jdbcType="INTEGER" property="flightNum" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="findAirwaysByCondition"
            parameterType="com.fly.sky.condition.AirwayCondition"
            resultType="com.fly.sky.domain.Airway">
        select id as id,airway_name_start as airwayNameStart , airway_name_end as airwayNameEnd ,airway_description as airwayDescription,
        airway_rate as airwayRate,flight_num as flightNum,create_time as createTime from airway WHERE 1=1
         and airway.status=0
        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="airwayNameStart != null  and airwayNameStart != '' ">
            AND airway_name_start = #{airwayNameStart,jdbcType=VARCHAR}
        </if>

        <if test="airwayNameEnd != null  and airwayNameEnd != '' ">
            and  airway_name_end = #{airwayNameEnd,jdbcType=VARCHAR}
        </if>
    </select>




    <select id="findAirwaysByStartAndEnd"
            parameterType="com.fly.sky.condition.AirwayCondition"
            resultType="com.fly.sky.domain.Airway">
        select id as id,airway_name_start as airwayNameStart , airway_name_end as airwayNameEnd ,airway_description as airwayDescription,
        airway_rate as airwayRate,flight_num as flightNum,create_time as createTime from airway WHERE 1=1 and airway.status=0
        <if test="airwayNameStart != null  and airwayNameStart != '' ">
            AND airway_name_start = #{airwayNameStart,jdbcType=VARCHAR}
        </if>
        <if test="airwayNameEnd != null  and airwayNameEnd != '' ">
            and  airway_name_end = #{airwayNameEnd,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>


    <select id="findAirwayGroupByAirwayNameStart"
            resultType="com.fly.sky.vo.AirportVo">
        select  airway.airway_name_start as airportAbbreviate,
        count(*) as airportAirwaysNum
        from airway
        where  airway.status=0
        group by airportAbbreviate
     </select>


    <select id="findAirwaysForAirwayName"
            parameterType="com.fly.sky.condition.AirwayCondition"
            resultType="com.fly.sky.domain.Airway">
        select id as id,airway_name_start as airwayNameStart , airway_name_end as airwayNameEnd
        from airway  where status=0 limit #{pageNo},#{pageSize}
    </select>


    <update id="updateAirwayForAirwayName"  parameterType="com.fly.sky.condition.AirwayCondition">
    update airway set
     airway_name_start=#{airwayNameStart},
     airway_name_end=#{airwayNameEnd},
    create_time=sysdate(),
    status=1
    where id=#{id}
  </update>

</mapper>
