<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.FlightRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.Flight">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
        <result column="flight_name_start" jdbcType="VARCHAR" property="flightNameStart" />
        <result column="flight_name_end" jdbcType="VARCHAR" property="flightNameEnd" />
        <result column="flight_date" jdbcType="VARCHAR" property="flightDate" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="airlines_code" jdbcType="VARCHAR" property="airlinesCode" />
        <result column="airway_id" jdbcType="INTEGER" property="airwayId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="flight_frequency" jdbcType="VARCHAR" property="flightRequency" />
        <result column="flight_remark" jdbcType="VARCHAR" property="flightRemark" />
        <result column="airport_name_start" jdbcType="VARCHAR" property="airportNameStart" />
        <result column="airport_name_end" jdbcType="VARCHAR" property="airportNameEnd" />
    </resultMap>

    <select id="findFlightsByCondition"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>

        <if test="flightNo != null  and flightNo != '' ">
            and  flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' ">
            and  airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="sortId != null  and sortId == 1 ">
            order  by flight.flight_date asc
        </if>

        <if test="sortId != null  and sortId ==2 ">
            order  by flight.flight_date desc
        </if>

        <if test="sortId != null  and sortId ==3 ">
            order  by flight.flight_name_start asc
        </if>

        <if test="sortId == null or sortId==0 ">
            order  by flight.flight_date asc
        </if>

    </select>


    <select id="findFlightsDetail"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select flight.id as id,flight.flight_no as flightNo , flight.flight_name_start as flightNameStart ,
        flight.airlines_code as airlinesCode,flight.flight_frequency as flightRequency,flight.flight_name_end
        as flightNameEnd,flight.flight_date as flightDate,airlines.airlines_abbreviate as airlinesName,
        airlines.airlines_img as airlinesIcon ,flight_remark as flightRemark from flight left join airlines on
        flight.airlines_code=airlines.airlines_code  WHERE 1=1 and flight.status=0
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>
        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        <if test="flightNo != null  and flightNo != '' ">
            and  flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' ">
            and  flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>


        <if test="sortId != null  and sortId == 1 ">
            order  by flight.flight_date asc
        </if>
        <if test="sortId != null  and sortId ==2 ">
            order  by flight.flight_date desc
        </if>
        <if test="sortId == null or sortId==0 ">
            order  by flight.flight_date asc
        </if>

    </select>



    <select id="findFlightsGroupByAirlineCode"
            parameterType="com.fly.sky.condition.AirportCondition"
            resultType="com.fly.sky.domain.Flight">
        select  flight.flight_name_start as flightNameStart ,
        flight.flight_name_end as flightNameEnd,
        flight.airlines_code as airlinesCode
        from flight
        where
        flight.status=0 AND
        flight.flight_name_start=#{airportAbbreviate,jdbcType=VARCHAR}
        AND flight.flight_name_end!=#{airportAbbreviate,jdbcType=VARCHAR}
        group by flightNameStart,flightNameEnd,airlinesCode
        <if test="search != null  and search != '' ">
            having  airlinesCode= #{search,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findFlightsGroupByFlightNameStart"
            resultType="com.fly.sky.vo.AirportVo">
      select  flight.airport_name_start as airportAbbreviate,
        count(*) as airportFlightNum
        from flight
        where flight.status=0
        group by airportAbbreviate
     </select>


    <select id="findFlightsGroupByFlightNameStartByAirlinesCode"
            resultType="com.fly.sky.domain.Airport">
        SELECT airport_abbreviate as airportAbbreviate  FROM airport WHERE  airport.airport_abbreviate in(
              select  flight.flight_name_start as airportAbbreviate
                from flight  where flight.status=0 and airlines_code=#{airlinesCode,jdbcType=VARCHAR}
                group by airportAbbreviate)
        order by airport_rank
     </select>

    <select id="findFlightsGroupByFlightNameEndByAirlinesCode"
            resultType="com.fly.sky.domain.Airport">
  SELECT airport_abbreviate as airportAbbreviate  FROM airport WHERE  airport.airport_abbreviate in(
       select  flight.flight_name_end as airportAbbreviate
        from flight  where  flight.status=0  and airlines_code=#{airlinesCode,jdbcType=VARCHAR}
        group by airportAbbreviate)
          order by airport_rank
     </select>



    <select id="findFlightsAndAirlinesByCondition"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select flight.id as id,flight.flight_no as flightNo , flight.flight_name_start as flightNameStart ,
        flight.airlines_code as airlinesCode,flight.airway_id as airwayId,flight.flight_frequency as flightRequency,
        flight.flight_name_end as flightNameEnd,flight.flight_date as flightDate,airlines.airlines_name AS airlinesName,
        flight.flight_remark as flightRemark,airlines.airlines_img as airlinesImg,airlines.airlines_abbreviate as airlinesAbbreviate  from flight left join
        airlines on flight.airlines_code=airlines.airlines_code WHERE 1=1 and flight.status=0
        <if test="id != null">
            and  flight.id = #{id,jdbcType=BIGINT}
        </if>

        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND  flight.flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND  flight.flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>

        <if test="flightNo != null  and flightNo != '' ">
            and   flight.flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="sortId != null  and sortId == 1 ">
            order  by flight.flight_date asc
        </if>

        <if test="sortId != null  and sortId ==2 ">
            order  by flight.flight_date desc
        </if>

        <if test="sortId != null  and sortId ==3 ">
            order  by flight.flight_name_start asc
        </if>

        <if test="sortId == null or sortId==0 ">
            order  by flight.flight_date asc
        </if>

      limit 200
    </select>

    <update id="updateFlightByCondition"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_name_start=#{flightNameStart},
    flight_name_end=#{flightNameEnd},
    flight_frequency=#{flightRequency},
    flight_date=#{flightDate},
    airlines_code=#{airlinesCode},
    create_time=sysdate(),
    status=1
    where flight_no=#{flightNo}
  </update>

    <update id="updateFlightFrequencyNotExist"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='航班不存在',
    create_time=sysdate(),
       status=1
    where flight_no=#{flightNo}
  </update>

  <update id="updateFlightFrequencyShareCode"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='共享航班',
    create_time=sysdate(),
       status=1
    where flight_no=#{flightNo}
  </update>

    <update id="updateFlightFrequencyIp"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='IP被封',
    create_time=sysdate(),
    status=1
    where flight_no=#{flightNo}
  </update>


    <select id="findFlightsForSynchronize"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight
        where status=0
        order by id asc
        limit #{pageNo},#{pageSize}

    </select>


    <delete id="deleteFlightByFlightNo" >
    delete  from  Flight
    where flight_no=#{flightNo}
  </delete>

    <insert id="insertFlight" parameterType="com.fly.sky.domain.Flight" >
       insert into flight(flight_no, flight_name_start,flight_name_end,
        airlines_code,flight_date,flight_frequency,status,create_time)
        values(
        #{flightNo}, #{flightNameStart}, #{flightNameEnd},
        #{airlinesCode}, #{flightDate}, #{flightRequency},1,sysdate()
        )
    </insert>


    <update id="updateAirportNameStartAndEnd"  parameterType="com.fly.sky.domain.Flight">
    update Flight setfindFlightsGroupByFlightNameStart
    airport_name_start= #{airportNameStart},
    airport_name_end= #{airportNameEnd},
    status=1
    where
    id=#{id}
  </update>

</mapper>
