<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.FlightRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.Flight">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
        <result column="flight_name_start" jdbcType="VARCHAR" property="flightNameStart" />
        <result column="flight_name_end" jdbcType="VARCHAR" property="flightNameEnd" />
        <result column="flight_date" jdbcType="VARCHAR" property="flightDate" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="airlines_code" jdbcType="VARCHAR" property="airlinesCode" />
        <result column="airway_id" jdbcType="INTEGER" property="airwayId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="flight_frequency" jdbcType="VARCHAR" property="flightRequency" />
        <result column="flight_remark" jdbcType="VARCHAR" property="flightRemark" />
        <result column="airport_name_start" jdbcType="VARCHAR" property="airportNameStart" />
        <result column="airport_name_end" jdbcType="VARCHAR" property="airportNameEnd" />
        <result column="airport_name_start_code" jdbcType="VARCHAR" property="airportNameStartCode" />
        <result column="airport_name_end_code" jdbcType="VARCHAR" property="airportNameEndCode" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>

    <select id="findFlightsByCondition"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>

        <if test="flightNo != null  and flightNo != '' ">
            and  flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' ">
            and  airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="sortId != null  and sortId == 1 ">
            order  by flight.flight_date asc
        </if>

        <if test="sortId != null  and sortId ==2 ">
            order  by flight.flight_date desc
        </if>

        <if test="sortId != null  and sortId ==3 ">
            order  by flight.flight_name_start asc
        </if>

        <if test="sortId == null or sortId==0 ">
            order  by flight.flight_date asc
        </if>

    </select>


    <select id="findFlightsDetail"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select flight.id as id,flight.flight_no as flightNo , flight.flight_name_start as flightNameStart ,
        flight.airlines_code as airlinesCode,flight.flight_frequency as flightRequency,flight.flight_name_end
        as flightNameEnd,flight.flight_date as flightDate,airlines.airlines_abbreviate as airlinesName,
        airlines.airlines_img as airlinesIcon ,flight_remark as flightRemark from flight left join airlines on
        flight.airlines_code=airlines.airlines_code  WHERE 1=1 and flight.status=0
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>
        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        <if test="airportNameEnd != null  and airportNameEnd != '' ">
            AND airport_name_end = #{airportNameEnd,jdbcType=VARCHAR}
        </if>
        <if test="airportNameStart != null  and airportNameStart != '' ">
            AND airport_name_start = #{airportNameStart,jdbcType=VARCHAR}
        </if>
        <if test="flightNo != null  and flightNo != '' ">
            and  flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L' OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU' and airlinesCode!='HU'  and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="flightRequency != null  and flightRequency != '' ">
            AND flight.flight_frequency = #{flightRequency,jdbcType=VARCHAR}
        </if>
       order by flight.flight_date asc,flight_frequency asc

    </select>



    <select id="findFlightsGroupByAirlineCode"
            parameterType="com.fly.sky.condition.AirportCondition"
            resultType="com.fly.sky.domain.Flight">
        select  flight.airport_name_start as flightNameStart ,
        flight.airport_name_end as flightNameEnd,
        flight.airlines_code as airlinesCode
        from flight
        where
        flight.status=0 AND
        flight.airport_name_start=#{airportAbbreviate,jdbcType=VARCHAR}
        AND flight.airport_name_end!=#{airportAbbreviate,jdbcType=VARCHAR}
        group by flightNameStart,flightNameEnd,airlinesCode
        <if test="search != null  and search != '' ">
            having  airlinesCode= #{search,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findFlightsGroupByFlightNameStart"
            resultType="com.fly.sky.vo.AirportVo">
      select  f.airport_name_start as airportAbbreviate,
        count(*) as airportFlightNum
        from (select distinct flight_no,airport_name_start from flight  where flight.status=0) as f
        group by airportAbbreviate
     </select>

    <select id="findFlightNoRepeat"  resultType="com.fly.sky.domain.Flight">
      select
       flight.airport_name_start as flightNameStart ,
        flight.airport_name_end as flightNameEnd,
        flight.airlines_code as airlinesCode
        from flight
        where flight.flight_no=#{flightNo,jdbcType=VARCHAR}
        and flight.airport_name_start_code=#{airportNameStartCode,jdbcType=VARCHAR}
        AND flight.airport_name_end_code=#{airportNameEndCode,jdbcType=VARCHAR}
     </select>

    <select id="findFlightOne"  resultType="com.fly.sky.domain.Flight"  parameterType="com.fly.sky.condition.UserFlightCondition">
      select
       flight.airport_name_start as flightNameStart ,
        flight.airport_name_end as flightNameEnd,
        flight.airlines_code as airlinesCode,
        flight.flight_date as flightDate
        from flight
        where flight.flight_no=#{flightNo,jdbcType=VARCHAR}
        and flight.airport_name_start=#{flightNameStart,jdbcType=VARCHAR}
        AND flight.airport_name_end=#{flightNameEnd,jdbcType=VARCHAR}
     </select>


    <select id="findFlightsGroupByFlightNameStartByAirlinesCode"
            resultType="com.fly.sky.domain.Airport">
        SELECT a.airportAbbreviate ,a.sort,airport.airport_location AS airportLocation FROM airport

        right join (
                select  flight1.airport_name_start as airportAbbreviate,COUNT(*) AS sort
                from (select distinct flight_no,airport_name_start,airlines_code from flight  where flight.status=0) as flight1
                  where 1=1
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight1.airlines_code = 'HU' OR   flight1.airlines_code = 'CN' OR   flight1.airlines_code = 'UQ'
            OR   flight1.airlines_code = 'Y8' OR   flight1.airlines_code = 'GT' OR   flight1.airlines_code = '9H'
            OR   flight1.airlines_code = 'FU' OR   flight1.airlines_code = 'GX' OR   flight1.airlines_code = 'PN'
            OR   flight1.airlines_code = '8L' OR   flight1.airlines_code = 'JD' OR   flight1.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='HNA'">
            and flight1.airlines_code=#{airlinesCode,jdbcType=VARCHAR}
        </if>
                group by airportAbbreviate ) a
        on airport.airport_abbreviate=a.airportAbbreviate

        order by a.sort desc

     </select>

    <select id="findFlightsGroupByFlightNameEndByAirlinesCode"
            resultType="com.fly.sky.domain.Airport">
        SELECT a.airportAbbreviate ,a.sort,airport.airport_location AS airportLocation FROM airport

        right join (
       select  flight1.airport_name_end as airportAbbreviate,COUNT(*) AS sort
        from (select distinct flight_no,airport_name_end ,airlines_code from flight  where flight.status=0) as flight1
          where  1=1
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight1.airlines_code = 'HU' OR   flight1.airlines_code = 'CN' OR   flight1.airlines_code = 'UQ'
            OR   flight1.airlines_code = 'Y8' OR   flight1.airlines_code = 'GT' OR   flight1.airlines_code = '9H'
            OR   flight1.airlines_code = 'FU' OR   flight1.airlines_code = 'GX' OR   flight1.airlines_code = 'PN'
            OR   flight1.airlines_code = '8L' OR   flight1.airlines_code = 'JD' OR   flight1.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='HNA'">
            and flight1.airlines_code=#{airlinesCode,jdbcType=VARCHAR}
        </if>
        group by airportAbbreviate  ) a
        on airport.airport_abbreviate=a.airportAbbreviate

        order by a.sort desc

    </select>



    <select id="findFlightsAndAirlinesByCondition"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select flight.id as id,flight.flight_no as flightNo , flight.flight_name_start as flightNameStart ,
        flight.airlines_code as airlinesCode,flight.airway_id as airwayId,flight.flight_frequency as flightRequency,
        flight.flight_name_end as flightNameEnd,flight.flight_date as flightDate,airlines.airlines_name AS airlinesName,
        flight.flight_remark as flightRemark,airlines.airlines_img as airlinesImg,airlines.airlines_abbreviate as airlinesAbbreviate,
        flight.airport_name_start_code as airportNameStartCode,flight.airport_name_end_code as airportNameEndCode
         from flight left join
        airlines on flight.airlines_code=airlines.airlines_code WHERE 1=1 and flight.status=0
        <if test="id != null">
            and  flight.id = #{id,jdbcType=BIGINT}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>
        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>
        <if test="airportNameEnd != null  and airportNameEnd != '' ">
            AND airport_name_end = #{airportNameEnd,jdbcType=VARCHAR}
        </if>
        <if test="airportNameStart != null  and airportNameStart != '' ">
            AND airport_name_start = #{airportNameStart,jdbcType=VARCHAR}
        </if>
        <if test="flightNo != null  and flightNo != '' ">
            and   flight.flight_no = #{flightNo,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L' OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU' and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="sortId == null or sortId == ''">
            and   flight.flight_frequency=7
        </if>

        <if test="sortId != null and sortId != '' ">
            and   flight.flight_frequency=#{sortId,jdbcType=BIGINT}
        </if>

    </select>

    <update id="updateFlightByCondition"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_name_start=#{flightNameStart},
    flight_name_end=#{flightNameEnd},
    flight_frequency=#{flightRequency},
    flight_date=#{flightDate},
    airlines_code=#{airlinesCode},
    airport_name_start=#{airportNameStart},
    airport_name_end=#{airportNameEnd},
    create_time=sysdate(),
    status=1
    where flight_no=#{flightNo}
  </update>

    <update id="updateFlightFrequencyNotExist"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='爬取不到数据稍后再爬',
    create_time=sysdate()
    where flight_no=#{flightNo}
  </update>

  <update id="updateFlightFrequencyShareCode"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='共享航班',
    create_time=sysdate(),
       status=1
    where flight_no=#{flightNo}
  </update>

    <update id="updateFlightFrequencyIp"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    flight_frequency='IP被封',
    create_time=sysdate(),
    status=1
    where flight_no=#{flightNo}
  </update>


    <select id="findFlightsForSynchronize"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight
        where status=0
        order by id asc
        limit #{pageNo},#{pageSize}

    </select>


    <delete id="deleteFlightByFlightNo" >
    delete  from  Flight
    where flight_no=#{flightNo}
  </delete>

    <insert id="insertFlight" parameterType="com.fly.sky.domain.Flight" >
       insert into flight(flight_no, flight_name_start,flight_name_end,
        airlines_code,flight_date,flight_frequency,status,create_time,flight_remark,
         airport_name_start,airport_name_end,airport_name_start_code ,airport_name_end_code)
        values(
        #{flightNo}, #{flightNameStart}, #{flightNameEnd},
        #{airlinesCode}, #{flightDate}, #{flightRequency},0,sysdate(),#{flightRemark}
        , #{airportNameStart},#{airportNameEnd}, #{airportNameStartCode},#{airportNameEndCode}
        )
    </insert>


    <update id="updateAirportNameStartAndEnd"  parameterType="com.fly.sky.domain.Flight">
    update Flight set
    airport_name_start= #{airportNameStart},
    airport_name_end= #{airportNameEnd},
    status=1
    where
    id=#{id}
  </update>


    <select id="findFlightsGroupByAirportNameAndAirportNameEnd"
            resultType="com.fly.sky.domain.Flight">
     select distinct airport_name_start as airportNameStart,airport_name_start_code as airportNameStartCode ,
      airport_name_end as airportNameEnd,airport_name_end_code as airportNameEndCode
      from flight
     </select>



    <select id="findFlightsGroupByAirportCode"
            resultType="com.fly.sky.domain.Airport">
      select airport_name_start_code as airportCode,
      airport_name_start as airportName
      from flight
      group by airport_name_start_code,airport_name_start
     </select>


    <select id="findFlightsAirwayNumberByAirlinesCode"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
         select airport_name_start as airportNameStart ,airport_name_end as airportNameEnd,
         airport_name_start_code as airportNameStartCode ,airport_name_end_code as airportNameEndCode,
         count(*) AS flightNumber from flight
         where 1=1
        <if test="sortId != null and sortId != '' ">
            and   flight.flight_frequency=#{sortId,jdbcType=BIGINT}
        </if>
        <if test="flightDateStart != null  and flightDateStart != '' ">
            AND SUBSTR( flight_date,1 , 5 )>= #{flightDateStart,jdbcType=VARCHAR}
        </if>
        <if test="flightDateEnd != null  and flightDateEnd != '' ">
            AND #{flightDateEnd,jdbcType=VARCHAR}>=SUBSTR( flight_date, 1, 5)
        </if>
        <if test="airportNameEnd != null  and airportNameEnd != '' ">
            AND airport_name_end = #{airportNameEnd,jdbcType=VARCHAR}
        </if>
        <if test="airportNameStart != null  and airportNameStart != '' ">
            AND airport_name_start = #{airportNameStart,jdbcType=VARCHAR}
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L'  OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU' and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>
        group by airport_name_start,airport_name_end,airport_name_start_code,airport_name_end_code
        ORDER BY flightNumber DESC
     </select>


    <select id="findMUFlights6"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,'周六' as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark,airport_name_start_code as airportNameStartCode,
        airport_name_end_code as airportNameEndCode from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=6
        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>


    <select id="findMUFlights7"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,'周日' as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark,airport_name_start_code as airportNameStartCode,
        airport_name_end_code as airportNameEndCode from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=7
        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>

    <select id="findMUFlights8BEFORE"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=7
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>

    <select id="findMUFlights8AFTER"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=7
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>

    <select id="findMUFlightsXIYU"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=7
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>

    <select id="findMUFlightsDAWAN"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        and  (airlines_code ='MU' OR airlines_code ='FM') and flight_frequency=7
        <if test="flightNameEnd != null  and flightNameEnd != '' ">
            AND flight_name_end = #{flightNameEnd,jdbcType=VARCHAR}
        </if>

        <if test="flightNameStart != null  and flightNameStart != '' ">
            AND flight_name_start = #{flightNameStart,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc
    </select>



    <select id="find9CFlightsZHE"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,'周日' as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark from flight WHERE 1=1 and status=0
        and  airlines_code ='9C' and flight_frequency=7
            AND ( airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
            or  airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
            )
        order by flight.flight_no asc,flight.flight_date asc
    </select>



    <select id="findFlightsForSUIXINFEI"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Flight">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        airway_id as airwayId,flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        create_time as createTime,flight_remark as flightRemark ,airport_name_start_code as airportNameStartCode,
        airport_name_end_code as airportNameEndCode,  airport_name_start as airportNameStart,
        airport_name_end as airportNameEnd
        from flight WHERE 1=1 and status=0
        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L'  OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU' and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="flightRequency != null  and flightRequency != '' ">
            and  flight_frequency = #{flightRequency,jdbcType=VARCHAR}
        </if>

        order by flight.flight_date asc


    </select>



    <select id="findStartHX"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Airport">
        select distinct airway_name_start_code as airportCode,
        airway_name_start as airportAbbreviate from airway inner join flight on
        airway.airway_name_start_code=flight.airport_name_start_code
        and airway.airway_name_end_code=flight.airport_name_end_code
        WHERE 1=1 and flight.status=0
        <if test="airlinesCode != null  and airlinesCode != '' ">
            and  flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

    </select>



    <select id="findEndHX"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.domain.Airport">
        select distinct airway_name_end_code as airportCode,
        airway_name_end as airportAbbreviate from airway inner join flight on
        airway.airway_name_start_code=flight.airport_name_start_code
        and airway.airway_name_end_code=flight.airport_name_end_code
        WHERE 1=1 and flight.status=0
        <if test="airlinesCode != null  and airlinesCode != '' ">
            and  flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

    </select>


    <select id="findHX"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select  airway_name_start_code as airportNameStartCode,
        airway_name_end_code as airportNameEndCode,
        airway_name_start as airportNameStart,
        airway_name_end  as airportNameEnd,
        count(*) as flightNumber
        from airway inner join flight on
        airway.airway_name_start_code=flight.airport_name_start_code
        and airway.airway_name_end_code=flight.airport_name_end_code
        where 1=1

        <if test="flightDateStart != null  and flightDateStart != '' ">
            AND SUBSTR( flight.flight_date,1 , 5 )>= #{flightDateStart,jdbcType=VARCHAR}
        </if>
        <if test="flightDateEnd != null  and flightDateEnd != '' ">
            AND #{flightDateEnd,jdbcType=VARCHAR}>=SUBSTR( flight_date, 1, 5)
        </if>
        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airway.airway_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>
        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airway.airway_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>
        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L'  OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU' and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>
        group by airway_name_start_code,airway_name_end_code,airway_name_start,airway_name_end
        order by flightNumber desc

    </select>


    <select id="findHX2HB"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select flight_no as flightNo , flight_name_start as flightNameStart ,flight.airlines_code as airlinesCode,
         flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        airport_name_start_code as airportNameStartCode,
        airport_name_end_code as airportNameEndCode,
        airport_name_start as airportNameStart,
        airport_name_end as airportNameEnd,
        airlines.airlines_img as airlinesIcon,
        airlines.airlines_name as airlinesName
        from flight
        LEFT JOIN airlines on flight.airlines_code=airlines.airlines_code
        WHERE 1=1 and status=0

        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='MU'">
            and  ( flight.airlines_code = 'MU' OR   flight.airlines_code = 'FM')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HU'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode=='HNA'">
            and  ( flight.airlines_code = 'HU' OR   flight.airlines_code = 'CN' OR   flight.airlines_code = 'UQ'
            OR   flight.airlines_code = 'Y8' OR   flight.airlines_code = 'GT' OR   flight.airlines_code = '9H'
            OR   flight.airlines_code = 'FU' OR   flight.airlines_code = 'GX' OR   flight.airlines_code = 'PN'
            OR   flight.airlines_code = '8L'  OR   flight.airlines_code = 'JD' OR   flight.airlines_code = 'GS')
        </if>

        <if test="airlinesCode != null  and airlinesCode != '' and airlinesCode!='MU'  and airlinesCode!='HU' and airlinesCode!='HNA'">
            and   flight.airlines_code = #{airlinesCode,jdbcType=VARCHAR}
        </if>

        <if test="flightDateStart != null  and flightDateStart != '' ">
            AND SUBSTR( flight.flight_date,1 , 5 )>= #{flightDateStart,jdbcType=VARCHAR}
        </if>
        <if test="flightDateEnd != null  and flightDateEnd != '' ">
            AND #{flightDateEnd,jdbcType=VARCHAR}>=SUBSTR( flight_date, 1, 5)
        </if>

        <if test="flightRequency != null  and flightRequency != '' ">
            AND flight_frequency = #{flightRequency,jdbcType=VARCHAR}
        </if>

        order by flight.flight_frequency asc,flight_date asc


    </select>






    <select id="findAIRPORTSHB"
            parameterType="com.fly.sky.condition.FlightCondition"
            resultType="com.fly.sky.vo.FlightDetail">
        select id as id,flight_no as flightNo , flight_name_start as flightNameStart ,airlines_code as airlinesCode,
        flight_frequency as flightRequency,flight_name_end as flightNameEnd,flight_date as flightDate,
        airport_name_start_code as airportNameStartCode,
        airport_name_end_code as airportNameEndCode,
        airport_name_start as airportNameStart,
        airport_name_end as airportNameEnd
        from flight WHERE 1=1 and status=0
        <if test="id != null">
            and  id = #{id,jdbcType=BIGINT}
        </if>

        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code = #{airportNameStartCode,jdbcType=VARCHAR}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            AND airport_name_end_code = #{airportNameEndCode,jdbcType=VARCHAR}
        </if>
        <if test="flightRequency != null  and flightRequency != '' ">
            AND flight_frequency = #{flightRequency,jdbcType=VARCHAR}
        </if>
        order by flight.flight_date asc

    </select>



    <delete id="deleteFlightByCode" >
    delete  from  flight
    where 1=1
        <if test="airportNameStartCode != null  and airportNameStartCode != '' ">
            AND airport_name_start_code=#{airportNameStartCode}
        </if>

        <if test="airportNameEndCode != null  and airportNameEndCode != '' ">
            and airport_name_end_code=#{airportNameEndCode}
        </if>

    and flight_frequency=#{flightFrequency}
  </delete>





</mapper>
