<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.UserFlightRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.UserFlight">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
        <result column="flight_name_start" jdbcType="VARCHAR" property="flightNameStart" />
        <result column="flight_name_end" jdbcType="VARCHAR" property="flightNameEnd" />
        <result column="flight_start_time" jdbcType="VARCHAR" property="flightStartTime" />
        <result column="flight_end_time" jdbcType="VARCHAR" property="flightEndTime" />
        <result column="flight_date" jdbcType="VARCHAR" property="flightDate" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="airlines_code" jdbcType="VARCHAR" property="airlinesCode" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>

    <select id="findUserFlightsByCondition"
            parameterType="com.fly.sky.condition.UserFlightCondition"
            resultType="com.fly.sky.vo.UserFlightVo">
        select airlines.airlines_name as airlinesName,userflight.id as id,flight_no as flightNo , flight_name_start as flightNameStart ,flight_name_end as flightNameEnd,userflight.airlines_code as airlinesCode,
        flight_date as flightDate, flight_start_time as flightStartTime , flight_end_time as flightEndTime ,create_time as createTime from userflight
        left join airlines on  airlines.airlines_code=userflight.airlines_code
        WHERE 1=1 and status=0
        <if test="openid != null and openid != '' ">
            and  openid = #{openid,jdbcType=VARCHAR}
        </if>
        order by userflight.flight_date desc,userflight.flight_start_time desc
    </select>


    <select id="flightsNo"
            parameterType="com.fly.sky.condition.UserFlightCondition"
            resultType="com.fly.sky.vo.UserFlightVo">
        select count(*) as flightsNo from  userflight
        WHERE 1=1 and status=0
        <if test="openid != null and openid != '' ">
            and  openid = #{openid,jdbcType=VARCHAR}
        </if>

    </select>


    <select id="citiesNo"
            parameterType="com.fly.sky.condition.UserFlightCondition"
            resultType="com.fly.sky.vo.UserFlightVo">
      select count(*) as citiesNo from
        (
        select distinct flight_name_end from userflight
        ) as a
    </select>





    <insert id="insertUserFlights" parameterType="com.fly.sky.condition.UserFlightCondition" >
       insert into userflight(flight_no, flight_name_start,flight_name_end,
        airlines_code,flight_date,status,create_time,openid ,flight_start_time,flight_end_time)
        values(
        #{flightNo}, #{flightNameStart}, #{flightNameEnd},
        #{airlinesCode}, #{flightDate} ,0,sysdate(),#{openid}, #{flightStartTime}, #{flightEndTime}
        )
    </insert>



</mapper>
