<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.sky.repository.WxMessageRepository">

    <resultMap id="BaseResultMap" type="com.fly.sky.domain.WxMessage">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="reply" jdbcType="VARCHAR" property="reply" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    </resultMap>


   <insert id="insertWxMessage" parameterType="com.fly.sky.domain.WxUser">
        insert into messages (id, content, open_id,reply,status,create_time, reply_time)
        values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}
        , #{reply,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
         sysdate(), #{replyTime,jdbcType=DATE})
    </insert>

    <select id="findWxMessageByCondition" resultType="com.fly.sky.domain.WxMessage">
        select id as id,content as content , open_id as openId ,reply as reply,
        status as status,create_time as createTime,reply_time as replyTime from messages
        where user_id = #{userId}
    </select>



</mapper>
